@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Monomaniac+One&family=Paytone+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Monomaniac One", serif;
}

body {
    background-color: #A0C4E2;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.navList {
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    background-color: #0D2149;
}

a {
    color: #A0C4E2;
}

button:hover {
    opacity: 0.8;
}

.btnCV {
    background-color: #A0C4E2;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

main {
    background-color: #0D2149;
    color: #A0C4E2;
    padding: 0 120px 50px;
    border-radius: 0 0 50px 50px;
}

h1 {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 155px;
    font-weight: 100;
    width: 1rem;
    margin-bottom: -20px;
}

p {
    width: 26rem;
    font-size: 1.2rem;
}

em {
    color: #A0C4E2;
}

div h2 {
    width: 26rem;
    color: #A0C4E2;
    font-weight: 100;
    margin-bottom: 20px;
}

.tags {
    justify-content: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.tag {
    padding: 5px 10px;
    color: white;
    background-color: #F46004;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.css {
    background-color: #0464F4;
}

.js {
    background-color: #EBC800;
}

.figma {
    background-color: black;
}

.me {
    height: 625px;
    width: 750px;
    background-image: linear-gradient(to bottom, #0d214900, #0d214900, #0D2149), url(./img/cropped.png);
    background-size: cover;
}

.main {
    justify-content: space-between;
}

.projects {
    background-color: #A0C4E2;
    padding: 25px;
}

.title {
    font-family: "Paytone One", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #0D2149;
    text-align: center;
}

.subtitle {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    color: #0D2149;
}

.project {
    flex-direction: column;
    text-align: center;
}

.circle {
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    cursor: pointer;
}

.circle:hover {
    opacity: 0.8;
}

.circle1 {
    background-image: url(./img/siteSenac.png);
}

.circle2 {
    background-image: url(./img/listaTarefas.png);
}

.circle3 {
    background-image: url(./img/calculadora.png);
}

.circle4 {
    background-image: url(./img/lojaProdutos.png);
}

.circle5 {
    background-image: url(./img/jogoClick.png);
}

.experience {
    display: flex;
    flex-direction: column;
    background-color: #0D2149;
    gap: 40px;
    padding: 50px;
    border-radius: 0 0 50px 50px;
}

.experience .title {
    color: #A0C4E2;
}

.xp {
    justify-content: space-between;
}

.cardXP {
    background-color: #A0C4E2;
    padding: 20px;
    border-radius: 20px;
    width: 970px;
    font-size: 20px;
}

h3 {
    color:#A0C4E2;
    font-weight: 100;
    font-size: 25px;
}

.right {
    text-align: right;
}

.contacts {
    background-color: #A0C4E2;
    padding: 50px;
    gap: 40px;
    flex-direction: column;
}

.social {
    border: 2px solid #0D2149;
    border-radius: 10px;
    width: 200px;
    color: #0D2149;
    padding: 10px 20px;
    flex-wrap: nowrap;
}

.social img {
    width: 50px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    flex-wrap: nowrap;
    background-color: #0D2149;
    color: whitesmoke;
    margin: 15% auto;
    padding: 0 40px;
    width: fit-content;
    border-radius: 8px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 290px;
    right: 500px;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer p{
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: #111;
    color: #A0C4E2;
    padding: 20px;
}

@media (max-width: 1440px) {
    .me {
        height: 400px;
        width: 430px;
    }

    h1 {
        font-size: 100px;
    }
    
    p {
        width: 26rem;
        font-size: 1.1rem;
    }
}

@media (max-width: 1120px) {

    .main, .media, .tags {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .me {
        height: 300px;
        width: 330px;
    }

    h1 {
        font-size: 100px;
        width: fit-content;
    }
    
    p {
        width: 26rem;
        font-size: 1.1rem;
    }
}